#container, html, body {
 margin: 0;
 padding: 0;
 height: 100%;
 font-family: 'Fira Sans', sans-serif;
 box-sizing: border-box;
}

#right, #left {
 margin: 0;
 float: left;
 height: 100%;
 overflow: scroll;
 padding-left: 1em;
 box-sizing: border-box;
}

#right {
 width: 73%;
 background-color: white;
}


#left {
 width: 27%;
 background-color: #ccc;
}

#leftBottom  {
 margin-top: 24px;
}

#leftBottom > ul {
 list-style-type: none;
 cursor: pointer;
 display: inline-block;
 padding-left: 1vw;
 font-size: 95%;
}

#leftBottom > ul > li:hover {
 color: white;
 background-color: #0078d7;
}

.topicul {
 list-style-type: none;
 cursor: pointer;
 padding-left: 2vw;
 font-size: 125%;
}

.topicul > li{
 margin-top: 1vh;
}

button {
 background-image: linear-gradient(to bottom right,#fff,#c0c0c0);
 margin-left: 0.5em;

}

#leftTop {
 position: fixed;
 top: 5px;
}

/* for pencil and trash icons */
#right img {
 height: 20px;
 margin-left: 20px;
 margin-right: 60px;
 cursor: pointer;
}

#gear {
 position: fixed;
 height: 20px;
 left: 260px;
 top: 8px;
 cursor: pointer;
}

#controls {
 position: fixed;
 left: 272px;
 top: 30px;
 background-color: white;
 border: solid 2px #ccc;
 display: none;
}

#controls > ul {
 list-style-type: none;
 padding: 0 1vw 0 1vw;
 margin: 1vh;
}

#controls > ul > li {
 margin-top: 0.6vh;
}

#controls > ul > li:hover {
 color: white;
 background-color: #0078d7;
}

input, textarea,select {
 font-family: 'Fira Mono', monospace;
 font-size: 100%;
 background-color: #f3f3f3;
}


#sortable { 
 list-style-type: none; 
 width: 200px;
}

#sortable li {
 cursor: move;
 border: solid 2px white;
 padding: 2px 1em 2px 0.5em;
 color: white;
 background-color: #0078d7;
}

